@import './variables.scss';

@mixin applyScore($width-score) {
    height: 1vh;
    background-color: $color-blue;
    width: $width-score;
}

@mixin padding {
    padding: 2rem !important;
    padding-top: 4rem !important;
    padding-bottom: 10rem !important;
}

@mixin margin {
    margin-bottom: 3rem !important;
    margin-top: 1rem !important;
}
@mixin flex-responsive {
    @media (max-width: 1200px) {
        flex-direction: column;
        justify-content: center;
       

        .aboutMe__picture img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border: 2px solid #adb5bd;
        }
    }
}