$color-indigo: indigo;
$color-blue: #2f80ed;
$color-red: #d92950;
$color-white: #fff;
$font-title-main: 'Roboto';
$font-title-secondary: 'Courier New', Courier, monospace;
$custom-border-radius : 10px;
