$color-indigo: indigo;
$color-black : #000;
$color-blue: #2f80ed;
$color-bcg-blue: #4c9bf1;
$color-red: #d92950;
$color-white: #fff;
$font-title-main: 'Roboto';
$font-title-secondary: 'AirFactoryRounded','Courier New', Courier, monospace;
$custom-border-radius : 10px;
