@import "../abstract/variables.scss";

.btn {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid $color-blueSecondary;
  transition: all 0.3s;
  &:link,
  &:visited {
    text-decoration: none;
    border: 2px solid $color-blue;
    color: $color-indigo;
  }
  &:hover {
    background-color: $color-white;
    color: $color-blueSecondary;
  }
  &--blue {
    background-color: $color-blueSecondary;
    color: $color-white;
    font-size: 20px;
  }
  &--red {
    background-color: $color-red;
    color: $color-white;
  }
}
