@import '../abstract/variables.scss';

@font-face {
    font-family: 'AirFactoryRounded';
    src: url('../../Fonts/AirFactoryRounded/Air\ Factory\ Rounded\ Bold.ttf');
}

body {
    font-size: 62.5%;
}

h2 {
    font-family: $font-title-secondary;
    color: $color-black;
    font-size: 3rem !important;
    font-weight: 900;
}
h3 {
    color: rgba($color: #000000, $alpha: 0.9);
    font-size: 1.5rem !important;
}
p {
    color: rgba($color: #000000, $alpha: 0.6);
    font-size: 1.3rem;
}
.bold {
    font-weight: bold;
    color: rgba($color: #000000, $alpha: 0.8);
}
.navigationMenu {
    font-weight: bold !important;
    font-size: 1.2rem;
}
